.ProjectSection {
    display: flex;
    flex-direction: column;
}

.content-container {
    background-color: #f5f5fb;
}

.project-header {
    background-color: #e6f5f7;
    font-family: 'Allerta Stencil', sans-serif;
    text-align: right;
    color: grey;
    height: 7vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 25px;
    padding-right: 3px;
}