.ProjectSection {
    display: flex;
    flex-direction: column;
}

.content-container {
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.project-header {
    font-family: 'Allerta Stencil', sans-serif;
    text-align: right;
    color: grey;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 32px;
}