.Header {
    align-items: center;
    height: 108px;
    display: flex;
    justify-content: space-between;
    background-color: #e6f5f7;
    padding: 5px;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.title {
    display: relative;
    font-size: 55px;
    letter-spacing: 1.5px;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 0;
    margin-left: 10px;
    color: #4e4e4e;
}

.title-em {
    color: tomato;
    font-family: 'Allerta Stencil', sans-serif;
    text-decoration: underline;
}

.fire-icon {
    margin-left: 109px;
    margin-top: 10px;
    margin-bottom: -18px;
    color: tomato;
    font-size: 30px;
}