@import './normalize.css';
@import './variables';
@import '../../src/containers/App/App.scss';
@import '../../src/components/Header/Header.scss';
@import '../../src/components/PaletteSection/PaletteSection.scss';
@import '../../src/containers/PaletteControls/PaletteControls.scss';
@import '../../src/containers/ColorBox/ColorBox.scss';
@import '../../src/containers/ColorCard/ColorCard.scss';
@import '../../src/containers/ProjectSection/ProjectSection.scss';
@import '../../src/containers/ProjectControls/ProjectControls.scss';
@import '../../src/containers/Search/Search.scss';
@import '../../src/containers/ProjectList/ProjectList.scss';
@import '../../src/containers/ProjectCard/ProjectCard.scss';
@import '../../src/containers/PaletteCard/PaletteCard.scss';

* {
    font-family: 'Didact Gothic', sans-serif;
}

input {
    height: 25px;
}

body {
    background-color: #e6f5f7;
}