* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.app-content {
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 90vh;
  background-color: #e6f5f7;
}