.PaletteControls {
    border-bottom: 2px solid green;
    height: 5vh;
}

.palette-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.palette-header {
    color: grey;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 32px;
    margin-top: 3px;
}